
NamedViewTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata

NamedViewTest.xcodeproj/project.xcworkspace/xcuserdata/XiaoG.xcuserdatad/UserInterfaceState.xcuserstate

NamedViewTest.xcodeproj/xcuserdata/XiaoG.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

NamedViewTest.xcodeproj/xcuserdata/XiaoG.xcuserdatad/xcschemes/NamedViewTest.xcscheme

NamedViewTest.xcodeproj/xcuserdata/XiaoG.xcuserdatad/xcschemes/xcschememanagement.plist
